/* General CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.bodylogin {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: url('/public/mounta1.jpg');
    background-repeat: repeat; 
    background-size: auto;
    background-attachment: fixed; 
}

.abc-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.abc-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  background: #ffffff;
  box-shadow: 0 0 5px #999999;
}

.abc-credit {
  position: relative;
  margin: 25px auto 0 auto;
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.abc-credit a {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
}

.abc-col-left,
.abc-col-right {
  padding: 30px;
  display: flex;
}

.abc-col-left {
  width: 60%;
  -webkit-clip-path: polygon(0 0, 150% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 120%, 110% 0);
  background: #050A44;
}

.abc-col-right {
  padding: 60px 30px;
  width: 50%;
  margin-left: -10%;
}

@media (max-width: 575.98px) {
  .abc-container {
    flex-direction: column;
    box-shadow: none;
  }

  .abc-col-left,
  .abc-col-right {
    width: 100%;
    margin: 0;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .abc-col-right {
    padding: 30px;
  }
}

.abc-login-text {
  position: relative;
  width: 100%;
  color: #ffffff;
}

.abc-login-text h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}

.abc-login-text p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.abc-login-text .abc-btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: .3s;
  -webkit-transition: .3s;
}

.abc-login-text .abc-btn:hover {
  color: #4056A1;
  box-shadow: inset 150px 0 0 0 #ffffff;
}

.abc-login-form {
  position: relative;
  width: 100%;
}

.abc-login-form h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 700;
}

.abc-login-form p {
  margin: 0 0 10px 0;
  text-align: left;
  color: #666666;
  font-size: 15px;
}

.abc-login-form p:last-child {
  margin: 0;
  padding-top: 3px;
}

.abc-login-form p a {
  color: #050A44;
  font-size: 14px;
  text-decoration: none;
}

.abc-login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: .5px;
}

.abc-login-form p:last-child label {
  width: 60%;
  float: left;
}

.abc-login-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.abc-login-form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.abc-login-form input:focus {
  border-color: #ff574e;
}

.abc-login-form button,
.abc-login-form input {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: #050A44;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #050A44;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #050A44;
  transition: .3s;
  -webkit-transition: .3s;
}

.abc-login-form button:hover,
.abc-login-form input[type=submit]:hover {
  color: #ffffff;
  box-shadow: inset 250px 0 0 0 #050A44;
}
.asd{
    color: #86C232;
}
